.idea/
__pycache__/
.ipynb_checkpoints/

scripts/playground.ipynb

fin-str/

scripts/crypto_import/data/
datasets/thesis/_old/

demo/

notes.txt

crypto_my_version_*.py
crypto_my_version_*.ipynb
scripts/data_exploration/plots/

scripts/data_exploration/plots_coins/

scripts/data_exploration/plots_performance/

logs_parsed/
eval_log/